form {
    overflow: auto;
    padding-left: 3%;
    padding-top: 3%;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0 0 13px 0 #F0F8FF;
}

input[type=text], input[type=password] {
    box-shadow: 0 0 3px 0 #F0F8FF;
    width: 315px;
}

fieldset {
    border: none;
}