    .circle {
        font-size: 12px;
        transition: font-size .75s;
    }
    
    .view-focus {
        font-size: 15px;
    }
    
    .circle:before {
        margin-left: 2px;
        content: ' \25CF';
    }
    
    .indicator-container {
        background-attachment: scroll;
        transition: all 2s;
        bottom: 0;
        height: 25px;
        position: fixed;
        text-align: center;
        width: 100%;
        background: black;
    }


/* Landscape */
@media screen 
and (min-width: 360px) 
and (max-height: 500px) 
and (orientation: landscape) { 

  .indicator-container {
      bottom: 0;
      height: 20px;
  }


}
