    .circle {
        font-size: 12px;
        transition: font-size .75s;
    }
    
    .view-focus {
        font-size: 15px;
    }
    
    .circle:before {
        margin-left: 2px;
        content: ' \25CF';
    }
    
    .indicator-container {
        bottom: 2%;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    
